extends default

block header
 header.header
          text(style="font-size:80px;") THE MAZE RUNNING MATH
block content
    text(style="margin-top:10px;margin-left:130px;font-size:260px;color:green") CORRECT !
    form(method='GET' action='/')
              div.form-group
              button.btn.btn-lg.btn-success(type='submit' style="margin-left:80%;width:200px;height:70px;font-size:30px;color:#EDD9A0") Next
