extends default

block header
 header.header
          text(style="font-size:80px;") THE MAZE RUNNING MATH
block content
    label(style="margin-top:5%;margin-left:130px;font-size:80px;color:black") Not found question number #{qnumber} 
    form(method='GET' action='/')
              div.form-group
              button.btn.btn-lg.btn-primary(type='submit' style="margin-top:10%;margin-left:80%;width:200px;height:70px;font-size:30px;color:#EDD9A0") Back
