extends default

block header
 header.header
          text(style="font-size:80px;") THE MAZE RUNNING MATH
block content 
    p(style='color:black#;text-align:center;font-size:45px;')
            | Question number is : #{qnumber} 
    .container
      .row
        form(method='GET' action='/answer')
                    div.form-group
                    input#name.form-control.input-lg(type='hidden', value=`${qnumber}` name='qq')
                    label(for='answer')
                     input#answer.form-control.input-lg(type='text', name='answer' style="margin-top:10%; width:350px;height:150px;font-size:100px;")
                     button.btn.btn-lg.btn-primary(type='submit' style="margin-left:82%;margin-top:2%") Ans